.wrapper-grey {
  background: #DBE2EF;
  padding: 30px 0;
}

.icon {
font-size: 50px;
padding-top: 30px;
}

.h4-steps {
  padding-bottom: 15px;
}

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 80px;
  font-weight: light;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
