.wrapper-grey {
  background: #DBE2EF;
  padding: 30px 0;
}

.wrapper-grey-padding-top {
  background: #DBE2EF;
  padding-top: 20px
}

.icon {
font-size: 50px;
padding-top: 30px;
}

.h4-steps {
  padding-bottom: 15px;
}

.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 80px;
  font-weight: light;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 30px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

#button-home a {
  color: white;
}

#button-home a:link {
  text-decoration:none;
  color: white;
}

.text-center .fa {
  color: #3F72AF;
  font-size: 5em;
}

.h4-steps {
  color: #3F72AF;
  font-weight: bold;
  padding-bottom: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper-grey .row {
    margin-bottom: 50px;
    margin-top: 50px;
}


