.mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F72AF;
  color: white;
  border-radius: 50%;
  font-size: 50px;
  height: 100px;
  width: 100px;
  margin-bottom: 100px;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.flex-item {
}

.vertical-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-picture {
  width: 70vw;
  height: 55vh;
}

.wrapper-mobile-grey {
  background: #DBE2EF;
  padding: 20px;
}

.container-mobile{
  min-height: calc(100vh - 110px);
}
