.mobile-button {
  display: inline-block;
  background-color: #3F72AF;
  color: white;
  border-radius: 50%;
  font-size: 50px;
  height: 100px;
  width: 100px;
  margin-bottom: 100px;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.flexbox {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-item {
  flex: 0 0 33.3%;
}

.vertical-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-min-height-without-footer {
  min-height: 100vh
}

.mobile-picture {
  width: 70vw;
  height: 55vh;
}
