.onboarding-icon {
  font-size: 100px;
}

.onboarding-h2 {
  padding-bottom: 20px;
}

.onboarding-card {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 35px;
  border-radius: 5%;
}

.next-previous-buttons {
  margin-top: 20px;
}

.container-min-height {
  min-height: calc(100vh - 70px - 83px - 60px); // 70px navbar, 83px footer, 60px padding wrapper
}

.row-min-height {
  min-height: 300px;
}

.box {
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 250px;
  background-image: url('credit_card_front.png');
  background-size: cover !important;
}
