<p>Hi <%= @user.first_name %> <%= @user.last_name %>,</p>

<p>Please fin attached your prescription reviewed by Doctor <%= @ophtalmo.first_name %> <%= @ophtalmo.last_name %>.</p>

<p>Hope you had a good time on EasyGlasses !</p>
