<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(<%= image_url 'homepage.jpg' %>); background-position: center center;">
  <div class="banner-content">
    <h1>EasyGlasses</h1>
    <p>Free online optical exam</p>
    <% if current_user != nil %>
      <%= link_to exams_path, method: "post" do %>
        <div id ="button-home" class="btn btn-primary btn-lg">
          Test you sight!
        </div>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path do %>
        <div id ="button-home" class="btn btn-primary btn-lg">
          Test you sight!
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="wrapper wrapper-grey">
  <div class="container">
    <h2 class="text-center" style="color: #3F72AF; padding-bottom:27px;"><strong>How it works</strong></h2>
    <div class="row">
      <div class="col-xs-12 col-md-3 text-center">
        <i class="fa fa-sign-in icon"></i>
        <h4 class="h4-steps">1. Create your account</h4>
        <p>Sign up on EasyGlasses! Answer a few questions and know if the test is suitable for you.</p>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <i class="fa fa-laptop icon"></i>
        <h4 class="h4-steps">2. Take the online test</h4>
        <p>Take our free test using your laptop and your smartphone.</p>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <i class="fa fa-user-md icon"></i>
        <h4 class="h4-steps">3. Doctor review</h4>
        <p>Your test is sent to an ophtalmologist who will review it and approve our diagnosis.</p>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <i class="fa fa-file-text-o icon"></i>
        <h4 class="h4-steps">4. Receive your prescription</h4>
        <p>You will then receive your prescription by email and be able to get new glasses or contact lens!</p>
      </div>
    </div>
  </div>
</div>
