.mobile-navbar .fa-question-circle {
  color: $blue;
  font-size: 3em;
}

.mobile-navbar {
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  background-color: #DBE2EF;
  padding: 10px;
}

.mobile-screen {
  height: 100vh;
  display: flex;
  align-items: center;
}
.onboarding-instructions {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.onboarding-instructions .btn-primary {
  width: 25vw;
}
