.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group.date {
  margin-bottom: 0;
  text-align: right;
}

.user_date_of_birth .form-control {
  border-radius: 2px;
  -webkit-appearance: none;
  margin-left: 15px;
  color: #999999;
}

.help-block {
  color: #D23333;
  font-style: italic;
  font-size: 14px;
}

.btn {
  background-color: $brand-color !important;
  border-color: $brand-color !important;
  color: white;
}

.btn:hover {
  color: #DBDEDC;
  background-color: rgba(63, 114, 175, 0.9) !important;
  transition: background-color 0.5s ease;
  border-color: rgba(63, 114, 175, 0.9) !important;
}
