.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group.date {
  margin-bottom: 0;
  text-align: right;
}

.user_date_of_birth .form-control {
  border-radius: 2px;
  -webkit-appearance: none;
  margin-left: 15px;
  color: #999999;
}

#review_rating {
  border-radius: 2px;
  -webkit-appearance: none;
  color: #999999;
}

.help-block {
  color: #D23333;
  font-style: italic;
  font-size: 14px;
}

.btn {
  background-color: $brand-color !important;
  border-color: $brand-color !important;
  color: white;
}

.btn:hover {
  color: #DBDEDC;
  background-color: rgba(63, 114, 175, 0.9) !important;
  transition: background-color 0.5s ease;
  border-color: rgba(63, 114, 175, 0.9) !important;
}

.btn-lg-green {
  background-color: #60B65B;
  border-color: #60B65B;
  color: white;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}

.btn-lg-orange {
  background-color: orange;
  border-color: orange;
  color: white;
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 2px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
}
